apiVersion: apps/v1
kind: Deployment
metadata:
  name: autoguide-redis
  namespace: autoguide
spec:
  replicas: 1
  selector:
    matchLabels:
      app: autoguide-redis
  template:
    metadata:
      labels:
        app: autoguide-redis
    spec:
      containers:
        - name: redis
          image: redis:7
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
              name: redis
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: autoguide-redis
  namespace: autoguide
spec:
  selector:
    app: autoguide-redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
